# Bytecode Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
ENV/
env/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Sistemi OS
.DS_Store
Thumbs.db

# Output generati dal sistema
outputs/*
!outputs/.gitkeep

# Modelli (YOLO, pesi addestrati)
models/*
!models/.gitkeep

# Log temporanei
*.log
