# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
ENV/
env/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NON versionare output generati
outputs/*
!outputs/.gitkeep

# NON versionare modelli e video
models/*
!models/.gitkeep
videos/*
!videos/.gitkeep

# Log
*.log
