# --- models: tieni solo questo file ---
models/*
!models/best_yolo8.onnx
!models/Yolo11m.onnx
!models/.gitkeep

# --- outputs e videos restano fuori ---
outputs/*
!outputs/.gitkeep

videos/*
!videos/.gitkeep
!videos/TEST_LEFT_2.mp4
!videos/TEST_RIGHT_2.mp4

__pycache__/
*.py[cod]
.venv/
venv/
ENV/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
gitssh
gitssh.pub
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
*.pem
*.key
*.ppk
